#tagbox{
    position:relative;
    margin:20px auto 0px;
    width:300px;
    height:250px;
    background:lightblue;
}
#tagbox a{
    position:absolute;
    padding:3px 6px;
    font-family:Microsoft YaHei;
    color: #fff;
    top:0px;
    left:0px;
    font-weight:bold;
    text-decoration:none;
}
#tagbox a:hover{
    border:#eee 1px solid;
    background:#000;
}
#tagbox .blue{color:blue}
#tagbox .red{color:red}
#tagbox .yellow{color:yellow}