<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>42度空间-定制TAB样式，纯CSS实现</title>
    <link rel="stylesheet" type="text/css" href="css/tab.css">
</head>
<body>
<div class="tabs">
    <input id="tab-1" type="radio" name="tab-group" checked="checked" />
    <label for="tab-1">推 荐</label>
    <input id="tab-2" type="radio" name="tab-group" />
    <label for="tab-2">最 新</label>
    <input id="tab-3" type="radio" name="tab-group" />
    <label for="tab-3">关 注</label>
    <div class="content">
        <div id="content-1">
            <p>
                在JavaScript中，永远不要用for in循环来遍历数组。
            </p>
        </div>
        <div id="content-2">
            简单是稳定的前提。 
        </div>
        <div id="content-3">
            程序员最讨厌的四件事：写注释、写文档、别人不写注释、别人不写文档。
        </div>
    </div>
</div>
</body>
</html>